<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Workspace7/Selenium/DemoRestAPI">
        <classes><class name="com.mindflur.LibraryApi.DynamicJson">
            <methods>
            <include name="addBook"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>